.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--success);
}


.progress {
    position: relative;
    height: 10px;
    width: 50%;
    border: 10px solid #f4a261;
    border-radius: 15px;
}

.progress .color {
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    top: -10px;
    left: -10px;
    height: 20px;
    border-radius: 15px;
    animation: progres 4s infinite linear;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

;