.container {
    display: flex;
    width: 280px;
    padding: 32px 16px;
}



@media screen and (max-width: 1225px) {
    .container {
        width: 20%;
      }
}

@media screen and (max-width: 970px) {
    .container {
        width: 15%;
      }
}
  
@media (max-width: 880px) {
    .container {
        display: none;
    }
}