.container {
    background-color: var(--green-500);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 32px;
    padding-right: 32px;
}

.logo {
    font-size: 20px;
}


.signin {
    background-color: var(--success);
    padding: 10px 29px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.menuBtn,
.mobileLinks {
    display: none;
}

.mobileLink {
    display: none;
}

.blogUser {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.blogUser label {
    font-size: 14px;
    color: white;
}

.signOutContainer {
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--grey-bd);
    position: absolute;
    right: 20px;
    top: 50px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}
.signout {
    background-color: var(--critical);
    padding: 10px 29px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    justify-self: end;
}




@media(max-width: 880px) {
    .menuBtn {
        display: block;
        cursor: pointer;
    }

}

@media(max-width: 768px) {

    .signin {
        display: none;
    }


    .mobileLink {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        width: 30%;
        height: 0;
        background-color: var(--green-500) !important;
        color: var(--green-500)
    }
}


@media screen and (max-width: 425px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

}